<p id="notice"><%= notice %></p>

<h1>Listing Kanjis</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @letters.each do |letter| %>
      <%= letter.letter %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kanji', new_kanji_path %>
